/* layout */
#wrapper {
   width: 700px;
   margin-top: 30px;
   margin-left: auto;
   margin-right: auto;
}

#logo {
   float: left;
   font-size: 60px;
   font-family: monospace;
}

#logo_sub {
   font-size: 16px;
   margin-left: 20px;
}

#about {
   float: right;
   padding-top: 11px;
}

#input_box {
   clear: both;
   width: 650px;
}

#search_box {
   width: 420px;
   margin-top: 30px;
}

#search_button {
   width: 100px;
}

#entry_box {
   clear: both;
}

#picture_box {
   width: 130px;
   float: left;
}

#info_box {
   width: 560px;
   float: right;
   line-height: 130%;
}

/* results style */
#release, #runtime, #rating, #episodes, #format { margin-right: 20px; }

/* style */
#title { font-size: 140%; font-weight: bold; }
#about { font-size: 120%; }

body {
   font: 16px 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif; 
}

a:link, a:visited, a:hover {
   color: black;
   cursor: hand;
   text-decoration: none;
}

a.about_link:link, a.about_link:visited, a.about_link:hover {
   color: #777;
   cursor: hand;
   text-decoration: none;
}

