<html>
   <head>
      <title>Neatflix - A Netflix API Demo</title>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
      <link href="css/index.css" rel="stylesheet" type="text/css"></link>
      <script src="javascript/neatflix.js" type="text/javascript" language="javascript"></script>

      <!-- google analytics -->
      <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32937353-1']);
      _gaq.push(['_trackPageview']);

      (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      </script>
   </head>

   <body>
   <div id="wrapper">
      <div id="nav_box">
         <div id="logo">
            <a href="/">Neatflix</a><span id="logo_sub">a netflix api demo</span>
         </div>

         <form id="search_form" method="get">
         <input type="text" id="search_box" name="search_input" value="Search for a film" onfocus="this.value=''">
         <button id="search_button" type="submit" onclick="$('#result_box').html(''); $('#spinner').show();">
            <img id="search_icon" src='/images/icon_search.png'/>
         </button>
         </form>
      </div>

      <div class="clear"></div>
      <br><br>

      <div id="spinner"><img src="/images/ajax-loader.gif"></div>
      
      <div id="result_box">
         {% if Entries|length %}
            Showing {{ Entries|length }} result(s) for "{{ search_string }}":
         {% endif %}

         {% for entry in Entries %}
         <div class="entry_box">
            <div class="picture_box">{{ entry.movie_art }}</div>
            <div class="info_box">
               <span class="title">{{ entry.title }}</span><br><br>

               <span class="release">{{ entry.release_year }}</span>
               <span class="runtime">{{ entry.runtime }}</span>
               <span class="rating">{{ entry.avg_rating }}</span>
               <span class="format">{{ entry.formats }}</span>
               <span class="episodes">{{ entry.episodes }}</span>

               <p class="synopsis">{{ entry.synopsis }}</p>

               <p class="genre">{{ entry.genre }}</p>
            </div>
         </div>
         <div class="clear"><hr></div>
         {% endfor %}
         
      <!-- test code
         {% for entry in Entries %}
         <div class="entry2_box">
            <div class="movie_art">{{ entry.movie_art }}</div>
            <div class="caption">{{ entry.title}} ({{entry.release_year}})</div>
         </div>
         {% endfor %}
      -->
      </div>

      <div id="about">
         <a class="about_link" href="/about">about</a><br>
         <a class="about_link" href="mailto:alex.csm@gmail.com">contact</a>
      </div>

   </div>

   </body>
</html>

